/*
.demo input, .demo textarea, .demo select { border: 1px solid #999; border-radius: 5px; color: #333; display: inline-block; height: 27px; font-size: 1.5em; text-align: center; width: 135px; vertical-align: middle }

.demo input:focus, .demo textarea:focus, .demo select:focus { border: 1px solid #95BDD4 }
.demo input:hover, .demo textarea:hover, .demo select:hover { border: 1px solid #BDBDBD }

.demo textarea { resize: none; height: 27px }
.demo select { text-align: left }

.demo .target-demo { display: inline-block; vertical-align: middle }

.demo div.hint { background-color: #F8F8F8; border-radius: 5px; color: #333; display: inline-block; height: 27px; font-size: 1.5em; text-align: center; width: 135px; vertical-align: middle }

.demo label { color: #444; font-size: 1.7em;  vertical-align: middle }

.demo a.run { font-size: 1.5em; margin-left: 5px; letter-spacing: .7px; vertical-align: middle }
*/
/*.box {

	width: 319px;
	height: 177px;
	border: 1px solid black;
}*/
.box .box1 .first {
	display: inline-block;
	margin-bottom: 25px;
}
.box .box2 .first {
	display: inline-block;
	margin-bottom: 25px;
}
.box .box3 .first {
	display: inline-block;
	margin-bottom: 20px;
}
.box .box4 .first {
	margin-right: 10px;
}
.box .box4 span#default-demo img {
	width: 22px;
	height: 22px;
}
.box .box1 {
	position: relative;
}
.box1 .danxuan1 {
	position: absolute;
	top: 6px;
	left: 93px;
}
.box1 .danxuan2 {
	position: absolute;
	top: 6px;
	left: 157px;
}
.box1 .danxuan3 {
	position: absolute;
	top: 6px;
	left: 238px;
}
.box .box1 .aa {
	margin-left: 35px;
} 
.box .box1 .bb {
	margin-left: 30px;
}
.box .box1 .cc {
	margin-left: 30px;
}


.box .box2 {
	position: relative;
}
.box2 .danxuan1 {
	position: absolute;
	top: 6px;
	left: 93px;
}
.box2 .danxuan2 {
	position: absolute;
	top: 6px;
	left: 157px;
}
.box2 .danxuan3 {
	position: absolute;
	top: 6px;
	left: 238px;
}
.box .box2 .aa {
	margin-left: 35px;
} 
.box .box2 .bb {
	margin-left: 30px;
}
.box .box2 .cc {
	margin-left: 30px;
}

.box .box3 {
	position: relative;
}
.box3 .danxuan1 {
	position: absolute;
	top: 6px;
	left: 93px;
}
.box3 .danxuan2 {
	position: absolute;
	top: 6px;
	left: 157px;
}
.box3 .danxuan3 {
	position: absolute;
	top: 6px;
	left: 238px;
}
.box .box3 .aa {
	margin-left: 35px;
} 
.box .box3 .bb {
	margin-left: 30px;
}
.box .box3 .cc {
	margin-left: 30px;
}


.box .box4 {
	position: relative;
}
.box .box4 .demo  span#default-demo{
	
	width: 200px;!important 
/*可以去掉内联样式(通过style属性定义的(element.style))*/
	/*可以优先于标签内联样式*/
	
}
.box .box4 .demo img:nth-of-type(1) {
	position: absolute;
	top: 4px;
	left: 93px;
}
.box .box4 .demo img:nth-of-type(2) {
	position: absolute;
	top: 3px;
	left: 120px;
}
.box .box4 .demo img:nth-of-type(3) {
	position: absolute;
	top: 4px;
	left: 145px;
}
.box .box4 .demo img:nth-of-type(4) {
	position: absolute;
	top: 4px;
	left: 173px;
}
.box .box4 .demo img:nth-of-type(5) {
	position: absolute;
	top: 4px;
	left: 200px;
}
.box .box1 span,.box .box2 span,.box .box3 span{
	font-family: 微软雅黑;
	font-size: 18px;
	color: #999;
}
.box .box4 span {
	font-family: 微软雅黑;
	font-size: 18px;
	color: #333333;
}
.box input {
	border: 0px;
	width: 19px;
	height: 19px;
}
.box label {
	color: #999;
	font-family: 微软雅黑;
	font-size: 16px;
}
