/* General Demo Style */
@import url(http://fonts.useso.com/css?family=Open+Sans:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #000;
	/*修改背景颜色*/
	background: #ff0;
}
.column {
	/*float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;*/
}

button {
	border: none;
	padding: 0.6em 1.2em;
	/*background: #c0392b;*/
	color: #fff;
	font-family:微软雅黑;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}
/*大按钮的背景颜色*/
button:hover {
	background: #A5281B;
}

