*{
	margin: 0;
	padding: 0;
}
#one{
	height: 45px;
	background-color:#244d5f;
}
.top{width: 1000px;
	height: 45px;
	margin: 0 auto;
	background-color:#244d5f;
}
.topleft{
	width: 816px;
	float: left;
}
.topleft img{
	margin-top: 12px;
	float: left;
	margin-right: 13px;
}
.top a{
	float: left;
	font-family:微软雅黑;
	font-size: 16px;
	text-decoration: none;
	color:white;
	list-style: none;
	margin-top: 10px;

}
.topleft .num .gps{
	margin-right: 15px;
}
.topleft .num .gpsa{
	color:#c6c5c6;
	margin-right:74px;
}
.topright{
	margin-left: 493px;
}

.topright img{
	margin-top:8px;
	float: left;
	margin-right: 17px;
}
.topright .numb{
	float: right;}
#two{
	height: 80px;
	background-color:white;
}
.leader{width: 1080px;
		height: 80px;
		margin: 0 auto;
}
.leader img{
	float: left;
	margin-right: 149px;
	padding-top: 8px;
	margin-left: 40px;
}
.leader ul{
	margin: 0;
	padding: 0;
	float: left;
	height: 80px;
}
.leader li{
	width: 80px;
	float: left;
	list-style: none;
	font-family:微软雅黑;
	font-size: 16px;
	text-align: center;
	line-height: 80px;
	color:#a0a0a0;
	}
.activeline{
	border-bottom: 2px solid black;
}

#three{
	height: 2930px;

}
#main{margin: 0 auto;
			width: 1000px;
	height: 2930px;
}
.maina{
	height: 196px;
	
}
.maina .mainatop p{
	font-family: 微软雅黑;
	font-size:18px;
	color:#666666;
	padding-top: 27px;
	}
.mainb{
	height: 438px;
	border: 1px solid #e5e5e5;
	margin-bottom:38px;
}
.mainbtop{
	height: 61px;
	background-color:#f7f7f7;
}
.mainbtop p{
	font-family:微软雅黑 ;
	font-size: 24px;
	color:#333333;
	margin-left: 29px;
	float: left;
	line-height: 61px;
}
.mainb .mainbtop .box{
	float: left;
	width: 72px;
	height: 41px;
	background-color:#50bbdb;
	margin-left: 505px;
	margin-top: 8px;
}
.mainb .mainbtop .box a{
	text-decoration: none;
	color: white;
	font-size: 24px;
	padding-left: 16px;
	line-height: 41px;
	font-family: 微软雅黑;
}
.mainb{
			width: 1000px;
			height: 438px;
			margin: 0 auto;
			border: 1px solid #e5e5e5;
			margin-bottom: 38px;
		}
		.main_left{
			width: 732px;
			float: left;
			font-size: 18px;
			font-family: "微软雅黑";

		}
		.left_top{
			width: 732px;
			height: 60px;
			background-color: #f7f7f7;
		}
		.left_top .p1{
			font-family: "微软雅黑";
			font-size: 24px;
			color: #333333;
			margin-left: 29px;
			float: left;
			height: 60px;
			width: 100px;
			line-height: 60px;

		}
		.left_top .btn{
			width: 72px;
			height: 41px;
			margin-right:29px;
			float: right;
			margin-top: 9px;
		}
		.left_top input{
			background-color: #50bbdb;
			color: #fff;
			width: 72px;
			height: 41px;
			font-size: 18px;
			font-family: "微软雅黑";
		}
		.left_bottom{
			width: 732px;
			height: 377px;
		}
		.bottom1{
			height: 76px;
			line-height: 76px;
			font-size: 18px;
			font-family: "微软雅黑";
		}
		.title1{
			width: 120px;
			height: 76px;
			float: left;
			margin-left: 27px;
		}
		.content1{
			width: 583px;
			height: 76px;
			float: left;
			font-weight: 700;
		}
		.content1 span{
			color: #50bbdb;
			font-weight: 700;
		}
		.title2{
			width: 120px;
			height: 54px;
			float: left;
			margin-left: 27px;
		}
		.title2 span{
			color: #50bbdb;
		}
		.content2{
			width: 583px;
			height: 54px;
			float: left;
			font-weight: 580;
		}
		.title3{
			width: 120px;
			height: 49px;
			float: left;
			margin-left: 27px;
		}
		.title3 span{
			color: #50bbdb;
		}
		.content3{
			width: 583px;
			height: 49px;
			float: left;
			font-weight: 580;
		}
		.title4{
			width: 120px;
			height: 43px;
			float: left;
			margin-left: 27px;
		}
		.content4{
			width: 583px;
			height: 43px;
			float: left;
			font-weight: 580;
		}
		.title5{
			width: 83px;
			height: 56px;
			float: left;
			margin-left: 27px;
		}
		.title5 span{
			color: #50bbdb;
		}
		.content5{
			width: 583px;
			height: 56px;
			float: left;
			font-weight: 580;
		}
		.content5 .list{
			margin-left: 0px;
			margin-top: 0px;
		}
		.content5 .list li{
			list-style: none;
			float: left;
			width: 45px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border:1px solid #cccccc;
		}
		.content5 .list .eq0{
			color: #50bbdb;
		}
		.content5 .list .eq1{
			font-weight: 580;
		}
		.content5 .list .eq2{
			color: #50bbdb;
		}
		.content5 span{
			margin-left:17px;
		}
		.content6  label input{
			width: 20px;
			height: 20px;
		}
		.title6{
			width: 140px;
			height: 99px;
			float: left;
			margin-left: 27px;
		}
		.title6 span{
			color: #50bbdb;
		}
		.content6{
			width: 560px;
			height: 99px;
			float: left;

		}
		.main_right{
			float: left;
			width: 266px;
			height: 391px;
			border: 1px solid #51bcdb;
		}
		.right_inner{
			width: 233px;
			height: 391px;
			font-size: 16px;
			font-family: "微软雅黑";
			margin:0 auto;
		}
		.inner1{
			height: 38px;
			font-weight: bold;
			border-bottom: 1px dashed #e1e1e1;
			margin-top: 21px;

			font-size: 18px;
		}
		.inner2{
			height: 44px;
			margin-top: 17px;
		}
		.inner2 span{
			float: right;
		}
		.inner3{
			height: 38px;
			border-bottom: 1px dashed #e1e1e1;
		}
		.inner4{
			height: 54px;
			border-bottom: 1px dashed #e1e1e1;
			line-height: 54px;
		}
		.inner4 span{
			float: right;
		}
		.inner5{
			height: 58px;
			border-bottom: 1px dashed #e1e1e1;
			line-height: 58px;
		}
		.inner5 span{
			width: 58px;
			height: 58px;
			float: right;
		}
		.inner6{
			height: 73px;
			margin-top: 48px;
			font-size: 16px;
			color: #999999;
		}
		.inner6 span{
			width: 97px;
			height:73px;
			float: right;
			color:#ea541e;
			font-size:24px;
		}
.mainc{
	width: 1000px;
	height: 348px;
	border: 1px solid #e5e5e5;
	margin-bottom: 38px;
}
.mainc .mainctop{
	height: 61px;
	background-color:#f7f7f7;
	position: relative;
}
.mainc .mainctop .img1{
	clear: both;
	display: block;
	position: absolute;
	left: 74px;
}
.mainc .mainctop .img2{
	clear: both;
	/*display: block;*/
	position: absolute;
	left: 221px;
	display: none;
}
.mainc .mainctop p{
	font-family:微软雅黑 ;
	font-size: 24px;
	color:#333333;
	width: 147px;
	float: left;
	line-height: 61px;
}
.mainc .maincbottom p{
	margin-left: 34px;
	font-size: 16px;
	font-family:微软雅黑;
}
.mainc .maincbottom ul li{
	list-style: none;
	font-size: 16px;
	font-family:微软雅黑;
	color: #333333;
	margin-top: 20px;
	margin-left: 34px;
}
.maind{
	height: 333px;
	border: 1px solid #e5e5e5;
	margin-bottom: 38px;
	
}
.maind .maindbottom .namelist{
	padding-left: 31px;
	width: 363px;
}
.maind .maindbottom .namelist li{
	list-style: none;
	font-size: 18px;
	font-family:微软雅黑;
	margin-top:20px;
}
.namelist .xingming input{
	width: 215px;
	height: 37px;
	margin-left: 73px;
	font-size: 16px;
	color:#cccccc;
}
.namelist .xingbie label{
	 margin-left: 73px;
}
.namelist .shouji {
	height: 65px;
	line-height: 65px;
}
.namelist .shouji input{
		margin-left: 39px;
		font-size: 16px;
		color:#cccccc;
		width: 215px;
		height: 37px;
}
.namelist .youxiang input{
		margin-left: 75px;
		width: 215px;
		height: 37px;
		font-size: 16px;
		color:#cccccc;
}
.maine{
	height: 520px;
	border: 1px solid #e5e5e5;
	margin-bottom: 38px;
	
}
.mainebottom .mainebottomlist{
	padding-left: 31px;
	height: 370px;
	border-bottom:1px dashed  #e5e5e5
}
.mainebottom .mainebottomlist li{
	font-size: 18px;
	font-family: 微软雅黑;
	padding-top: 25px;
	list-style: none;}

.mainebottom .mainebottomlist select{
	font-size: 16px;
	color:#cccccc;
	margin-left:80px;
}
.mainebottom .mainebottomlist .inputxm{
	width: 214px;
	height: 37px;
	margin-left: 19px;
	font-size: 16px;
	color:#cccccc;
}
.mainebottom .mainebottomlist .inputsjh{
	width: 214px;
	height: 37px;
	margin-left: 44px;
	font-size: 16px;
	color:#cccccc;
}
.maine .tianjiayk{
	width: 124px;
	height: 37px;
	background-color:#50bbdb;
	margin-top: 24px;
	margin-left: 457px;


}
.maine .tianjiayk a{
	font-size: 20px;
	color:white;
	font-family: 微软雅黑;
	text-decoration: none;
	line-height: 37px;
	padding-left: 10px;
}
.maine .boxtwo{
	width: 96px;
	height: 40px;
	background-color:#50bbdb;
	float: left;
	margin-left:488px;
	margin-top: 12px;

}
.maine .boxtwo a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 40px;
	font-family: 微软雅黑;
	padding-left:13px; 
}
.mainf{
	height: 201px;
	border: 1px solid #e5e5e5;
	margin-bottom: 28px;
	}
.mainfa{
	margin-left:600px;
	padding-top: 19px;

}
.mainfa a{text-decoration: none;
	color:#eb5e17;
	font-family: 微软雅黑;
	font-size: 20px;
}	
.mainfbottom ul li{
	list-style: none;
	font-family: 微软雅黑;
	font-size: 20px;


}
.mainfbottom ul li label{
	margin-left: 31px;
	float: left;
}
.mainfbottom .baoxianlist{
	float: left;
}
.mainfbottom .baoxianlist li{
 	float: left;
	font-size:18px;
	font-family: 微软雅黑;
	list-style: none;
}
.mainj{
	height: 440px;
	border: 1px solid #e5e5e5;
}
.mainj .mainjbottom .ydlist{
	height: 269px;
	margin-left: 31px;
	margin-right: 31px;
	border-bottom: 1px solid #e5e5e5

}
.mainj .mainjbottom .ydlist .ali{
	list-style: none;
	font-size: 18px;
	font-family: 微软雅黑;
	margin-top: 32px;
	;
}
.mainj .mainjbottom .inp{
	margin-left: 31px;
	font-size: 16px;
	color:#cccccc;
	width: 214px;
	height: 39px;
}
.mainj .mainjbottom .fapiao li{
	list-style: none;
	float: left;
	font-size: 18px;
	height: 43px;
}
.mainj .mainjbottom ul .ali select{
	width: 90px;
	height: 37px;
	color:#cccccc;
	margin-left: 31px;
	font-size: 16px;
}
.mainj .yda{
	width: 97px;
	height: 24px;
	margin-left: 31px;
	line-height:75px;
}
.mainj .yda{
	font-size: 16px;
	font-family: 微软雅黑;
}
.mainh{
	height: 302px;
	width: 1000px;
}
.mainh .hinp{
	margin-top: 32px;
	width: 1000px;
	height: 57px;
	border: 3px solid #50bbdb;
	background-color:#dcf1f8;
}
.mainh .mainhbottom p{
	margin-top:48px;
	text-align: center;
	font-size: 18px;
	font-family: 微软雅黑;
	

}
.mainh .mainhbox{
	width: 237px;
	height: 48px;
	background-color:#50bbdb;
	margin-top: 29px;
	margin-left: 376px;
}
.mainh .mainhbox a{
	text-decoration: none;
	color: white;
	font-size: 24px;
	line-height: 48px;
	font-family: 微软雅黑;
	padding-left:31px;}

#footer{
	
	height: 91px;
	background-color:white;
}
#five{
	height: 50px;
	background-color:#444b55;
}
.footertop{
	height: 50px;
	width: 1000px;
	background-color:#444b55;
	margin: 0 auto;	
}
.footertop ul li{
	list-style: none;
	float: left;
	font-family: 微软雅黑;
	font-size: 16px;
	color:#c1c3c6;
	line-height: 50px;


}
#six{
	height: 41px;
	background-color:#565d65;
}
.footertopa{
	height: 41px;
	width: 1000px;
	background-color:#565d65;
	margin: 0 auto;
}
.footertopa span{
	line-height: 41px;
	font-family: 微软雅黑;
	font-size: 18px;
	color:#c1c3c6; 
	float: left;
}