.modal-mid{
	margin-top: 57px;
	
	height: 176px;
	width: 386px;
	float: left;
	background-color: #f00;

}
.modal-top{
	margin-left: 53px;
	margin-top: 52px;
	float: left;
	height: 303px;
	width: 536px;
	border: 1px solid #e7e7e7;
}
.modal-mid ul li{
	margin-left: 0px;
	list-style: none;
	height: 56px;
}
span{
	margin-left: 270px;
    margin-top: 42px;
}